.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #333;
  color: #fff;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  transition: color 0.2s;
}

nav ul li a:hover {
  color: #ffd700;
}

.navigacija-wrap {
  display: flex;
  width: 100vw;
}
.prazno {
  flex: 1;
}
.navigacija {
  flex: 2;
  display: flex;
  gap: 20px;
}


