name: Deploy React Client to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          # Obavezno isključi sparse-checkout da se preuzme CIJELI repo
          sparse-checkout: false
          # ili barem dodaj putanju ako hoćeš da ostane sparse
          # sparse-checkout-cone-mode: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'                     # ovo automatski kešira node_modules
          cache-dependency-path: klijent/yarn.lock   # <--- VAŽNO!

      - name: Install dependencies (client)
        working-directory: ./klijent
        run: yarn install --frozen-lockfile

      - name: Build React app
        working-directory: ./klijent
        run: yarn build

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: klijent/build
          clean: true   # opcionalno, briše stare fajlove
